/* Pagination container with divider lines */
.line {
  position: relative;
  display: inline-block;
  height: 1px;
  background: transparent;
}

.before-line::before,
.after-line::after {
  content: "";
  display: block;
  width: 40px; /* adjust line length */
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* Custom Swiper pagination (dots) */
.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px !important;
}

.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-bullet-active {
  opacity: 1;
  background: transparent;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
}

/* Navigation buttons hover transition */
.custom-prev,
.custom-next {
  letter-spacing: 2px;
  transition: color 0.3s ease;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;

}

.custom-prev:hover,
.custom-next:hover {
  color: #818cf8; /* Tailwind Indigo-400 */
}





/* For very small devices (<= 400px) */
@media (max-width: 340px) {
  .slider-section h2 {
    font-size: 1.3rem !important; /* around text-xl */
    line-height: 1.6rem !important;
    padding: 0 10px;
  }

  .slider-section p {
    font-size: 0.85rem !important; /* text-sm */
    max-width: 100%;
  }

  .slider-section button {
    font-size: 0.85rem !important;
    padding: 6px 14px !important;
  }
}

/* For small phones (401px - 640px) */
@media (min-width: 340px) and (max-width: 640px) {
  .slider-section h2 {
    font-size: 1.6rem !important; /* text-2xl */
    line-height: 2rem !important;
  }

  .slider-section p {
    font-size: 1rem !important;
  }

  .slider-section button {
    font-size: 0.95rem !important;
        padding: 6px 0px !important;
        width: 100px !important;
  }
  /* .custom-pagination {
 
  width: 50px !important;
} */
}

/* For tablets (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1023px) {
  .inner-section{
   width: 700px !important;
  }

  
  .slider-section h1 {
    font-size: 40px !important; /* text-3xl */
  }

  .slider-section p {
    font-size: 25px !important;
  }

  /* .slider-section button {
    font-size: 1rem !important;
    padding: 10px 22px !important;
  } */
}

/* @media (min-width: 1024px){
.inner-section h1{
          font-size: 65px !important;

}


} */



@media (min-width: 1024px) {
  /* desktop and larger screens ke liye CSS */
.inner-section{
  width: 550px !important;

}
.inner-section h1{
  font-size: 55px !important;
  line-height: 1.2 !important;

}
}





