/* For very small devices (<= 400px) */
@media (max-width: 400px) {
  .slider-section h2 {
    font-size: 1.3rem !important; /* around text-xl */
    line-height: 1.6rem !important;
    padding: 0 10px;
  }

  .slider-section p {
    font-size: 0.85rem !important; /* text-sm */
    max-width: 100%;
  }

  .slider-section button {
    font-size: 0.85rem !important;
    padding: 6px 14px !important;
  }
}

/* For small phones (401px - 640px) */
@media (min-width: 401px) and (max-width: 640px) {
  .slider-section h2 {
    font-size: 1.6rem !important; /* text-2xl */
    line-height: 2rem !important;
  }

  .slider-section p {
    font-size: 1rem !important;
  }

  .slider-section button {
    font-size: 0.95rem !important;
    padding: 8px 18px !important;
  }
}

/* For tablets (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1023px) {
  .inner-section{
   width: 600px !important;
  }

  
  .slider-section h1 {
    font-size: 45px !important; /* text-3xl */
  }

  .slider-section p {
    font-size: 25px !important;
  }

  /* .slider-section button {
    font-size: 1rem !important;
    padding: 10px 22px !important;
  } */
}

/* @media (min-width: 1024px){
.inner-section h1{
          font-size: 65px !important;

}


} */



@media (min-width: 1024px) {
  /* desktop and larger screens ke liye CSS */
.inner-section{
  width: 750px !important;

}
}





