@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');




h1, h2, h3{
   font-family: "Poppins", sans-serif;
  font-weight: 400;
}

li, span, a, :hover {
  font-family: "Poppins", sans-serif;
}


.conatainer {
  max-width: 1200px;
  margin: 0 auto;
}
/* ClientSlider.css */
.clients .swiper-wrapper{
  margin-bottom: 20px;
}

.clients .swiper-pagination-bullet {
  background-color: #4f46e5; /* bullet color */
  opacity: 1;
}

.clients .swiper-pagination-bullet-active {
  background-color: #cecdd4; /* active bullet color */
}

  .clients .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
bottom: 0px !important;
  }

  .pressbox{
     box-shadow: -1px -4px 9px #2a4e9f61;
  }